* {
  margin: 0;
  padding: 0;
  border-radius: 4px;
}
ul,
li {
  list-style: none;
}
.slide {
  height: 185px;
  overflow: hidden;
}
.slide ul {
  width: calc(100% * 4);
  display: flex;
  animation: slide 45s infinite;
  padding: 0;
  margin: 0;
}

.slide li {
  width: calc(100% / 4);
  background-size: contain;
  background-repeat: no-repeat;
  height: 185px;
}
.slide li:nth-child(1) {
  background-image: url('../assets/banner/banner5.jpeg');
}
.slide li:nth-child(2) {
  background-image: url('../assets/banner/banner6.jpeg');
}
.slide li:nth-child(3) {
  background-image: url('../assets/banner/banner3.png');
}
.slide li:nth-child(4) {
  background-image: url('../assets/banner/banner4.png');
}

@media screen and (min-width: 813px) and (max-width: 1024px) {
  .slide {
    height: 165px;
  }
  .slide li {
    height: 165px;
  }
}

@media screen and (min-width: 550px) and (max-width: 813px) {
  .slide {
    height: 132px;
  }
  .slide li {
    height: 132px;
  }
}

@media screen and (max-width: 550px) {
  .slide {
    height: 87px;
  }
  .slide li {
    height: 87px;
  }
}

@keyframes slide {
  0% {
    margin-left: 0;
  } /* 0 ~ 10  : 정지 */
  10% {
    margin-left: 0;
  } /* 10 ~ 25 : 변이 */
  25% {
    margin-left: -100%;
  } /* 25 ~ 35 : 정지 */
  35% {
    margin-left: -100%;
  } /* 35 ~ 50 : 변이 */
  50% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  85% {
    margin-left: -300%;
  }
  100% {
    margin-left: 0;
  }
}
