.menu {
  background: #ffffff;
  position: absolute;
  right: 0;
  width: 140px;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 100;
}

@media screen and (max-width: 550px) {
  .menu {
    width: 120px;
  }
}